*{
            box-sizing: border-box /*свойства width и height начинают включать в себя значения padding и border*/
        }

        p { text-indent: 25px; }


        /* Подключение шрифта и базовые стили */
        body { 
            font-family: "Neucha", cursive; 
            font-weight: 400; 
            font-style: normal; 

            margin: 0; 
            padding: 0; 
            background-color: #f4f4f4; 

            font-size: 16px; / Или другой желаемый размер, например, 18px, 20px /
        }
        
        /* Контейнер для полей */
        .container {
            max-width: 1000px; /* Уменьшение максимальной ширины */
            margin: 0 auto; /* Автоматические поля слева и справа */
            padding: 40px; /* Увеличенные внутренние отступы */
            background-color: #fff; /* Фон для содержания */
        }

        /* Шапка сайта */
        header {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }
        /*убирает точки списка*/
        nav ul {
            list-style: none;
            padding: 0;
            margin: 10px 0;
        }
        /*ставит их в одну линию*/
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        /*приводит их к виду основного текста (не вид ссылок)*/
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        nav ul li a:hover {
            color: rgb(154, 66, 158);
            text-decoration: none;
        }

        /* Основное содержимое */
        main {
            padding: 20px 0;
        }

        h2 {
            color: #333;
        }

        /* Блок с изображением */
        section img {
            display: block;
            margin: 10px auto;
        }

        /* Маркированный список преимуществ */
        ul {
            padding-left: 20px;
        }

        /* Таблица с блюдами */
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        /* Футер */
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        footer a {
            text-decoration: none;
            font-family: "Neucha", cursive; 
            font-size: 16px;
            color: blue;
        }

        footer a:hover {
            color: rgb(154, 66, 158);
            text-decoration: underline;
        }

        /* Стили для меню заказов на дом*/
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    background-color: #fff;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  }
  
  .menu-item:hover {
    border: 2px solid tomato;
  }
  
  .menu-item:hover button {
    background-color: tomato;
    color: #fff;
  }
  
  /* Стили для изображения */
section > div > div > img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    transition: transform 0.3s ease;
  }
  
  section > div > div > img:hover {
    transform: scale(1.1);
  }
  
  /* Стили для цены */
  section > div > div > p.price {
    font-size: 1.1rem;
    transition: font-size 0.3s ease;
  }
  
  section > div > div > p.price:hover {
    font-size: 1.2rem;
  }
  
  /* Стили для названия блюда */
  section > div > div > p.dish-name {
    font-size: 1.1rem;
    transition: font-size 0.3s ease;
  }
  
  section > div > div > p.dish-name:hover {
    font-size: 1.2rem;
  }
  
  /* Стили для веса/объема */
  section > div > div > p.weight {
    color: #808080;
    transition: color 0.3s ease;
  }
  
  section > div > div > p.weight:hover {
    color: #505050;
  }
  
  
  .menu-item button {
    background-color: #f1eee9;
    color: #333;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /* Адаптивность */
  @media (max-width: 1024px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .menu-grid {
      grid-template-columns: 1fr;
    }
  
    .menu-item {
      padding: 20px 30px;
    }
  }

  nav a.active {
    color: tomato;
  }
  