*{
            box-sizing: border-box /*свойства width и height начинают включать в себя значения padding и border*/
        }

        p { text-indent: 25px; }

          h1 {
            text-align: center;
          }



        /* Подключение шрифта и базовые стили */
        body { 
            font-family: "Neucha", cursive; 
            font-weight: 400; 
            font-style: normal; 

            margin: 0; 
            padding: 0; 
            background-color: #f4f4f4; 

            font-size: 16px; / Или другой желаемый размер, например, 18px, 20px /
        }
        
        /* Контейнер для полей */
        .container {
            max-width: 1000px; /* Уменьшение максимальной ширины */
            margin: 0 auto; /* Автоматические поля слева и справа */
            padding: 40px; /* Увеличенные внутренние отступы */
            background-color: #fff; /* Фон для содержания */
        }

        /* Шапка сайта */
        header {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }
        nav { 
          display: flex; 
          flex-wrap: wrap; /*перенос строк*/ 
          gap: 15px; /*устанавливает отступ 15px между элементами меню*/ 
          justify-content: center; /*центрирует элементы меню по горизонтали*/ 
          padding-left: 15px; 
          margin-bottom: 30px; 
      }
        /*убирает точки списка*/
        nav ul {
            list-style: none;
            padding: 0;
            margin: 10px 0;
        }
        /*ставит их в одну линию*/
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        /*приводит их к виду основного текста (не вид ссылок)*/
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        nav ul li a:hover {
            color: rgb(154, 66, 158);
            text-decoration: none;
        }

        /* Основное содержимое */
        main {
            padding: 20px 0;
        }

        h2 {
            color: #333;
        }

        /* Блок с изображением */
        section img {
            display: block;
            margin: 10px auto;
        }

        /* Маркированный список преимуществ */
        ul {
            padding-left: 20px;
        }

        /* Таблица с блюдами */
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        /* Футер */
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        footer a {
            text-decoration: none;
            font-family: "Neucha", cursive; 
            font-size: 16px;
            color: blue;
        }

        footer a:hover {
            color: rgb(154, 66, 158);
            text-decoration: underline;
        }

        /* Стили для меню заказов на дом*/
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    background-color: #fff;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  }
  
  .menu-item:hover {
    border: 2px solid tomato;
  }
  
  .menu-item:hover button {
    background-color: tomato;
    color: #fff;
  }
  
  /* Стили для изображения */
section > div > div > img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    transition: transform 0.3s ease;
  }
  
  section > div > div > img:hover {
    transform: scale(1.1);
  }
  
  /* Стили для цены */
  section > div > div > p.price {
    font-size: 1.1rem;
    transition: font-size 0.3s ease;
  }
  
  section > div > div > p.price:hover {
    font-size: 1.2rem;
  }
  
  /* Стили для названия блюда */
  section > div > div > p.dish-name {
    font-size: 1.1rem;
    transition: font-size 0.3s ease;
  }
  
  section > div > div > p.dish-name:hover {
    font-size: 1.2rem;
  }
  
  /* Стили для веса/объема */
  section > div > div > p.weight {
    color: #808080;
    transition: color 0.3s ease;
  }
  
  section > div > div > p.weight:hover {
    color: #505050;
  }
  
  
  .menu-item button {
    background-color: #f1eee9;
    color: #333;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /* Адаптивность */
  @media (max-width: 1024px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .menu-grid {
      grid-template-columns: 1fr;
    }
  
    .menu-item {
      padding: 20px 30px;
    }
  }

  nav a.active {
    color: tomato;
  }


  form {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.block {
  width: 45%;
}

.form-group {
  margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  /* Добавляем небольшой отступ между чекбоксом и текстом */
  margin-left: 8px; 
}


input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 0.9em;
}

#subscribe + label {
  font-weight: normal;
  font-size: 0.9em;
}

.small-note {
    font-size: 0.8em;
    color: #888;
    margin-top: 1px;
    margin-bottom: 15px;
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
}

.filter-button {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button.active {
  background-color: #f44336;
  color: white;
}


        /* Grid-контейнер для вариантов ланча */
        .lunch-options {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          margin: 20px 0;
      }

      /* Карточка каждого варианта ланча */
      .lunch-card {
          display: flex;
          align-items: center;
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .lunch-options {
        display: flex;
        justify-content: space-around;
    }
    
    .dish {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80px; /* Задаем фиксированную ширину для каждого блока */
        width: 100%; /* Увеличьте ширину контейнера до 100% */
        max-width: 150px; /* Или задайте фиксированную максимальную ширину */
    }
    
    .dish img {
        width: 50px; /* Задаем одинаковый размер для всех изображений */
        height: 50px;
        object-fit: contain; /* Позволяет изображению сохранить пропорции */
        margin-bottom: 5px; /* Задаем отступ между изображением и текстом */
    }

    .dish p2 {
      font-size: 13px;
    }
  
    

      .dish img:hover {
          transform: translateY(-5px) scale(1.1);
      }


      /* Уведомление */
      .notification {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #f9f9f9;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          z-index: 1000;
          text-align: center;
      }

      /* Кнопка закрытия уведомления */
      .notification button {
          margin-top: 10px;
          padding: 5px 15px;
          background-color: #333;
          color: white;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
      }

      .notification button:hover {
          background-color: white;
          color: tomato;
      }
